#wrap{text-align:left;}
/*ul*/
ul{ list-style:none;}
/*a*/
a{ text-decoration:none;outline:none;}
/*img*/
img{border:0 none;max-width:100%;}
/*浮动*/
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
/*清除浮动*/
.clear{clear:both;}
/*塌陷*/
.clearfix{zoom:1;}
.clearfix:before,.clearfix:after{display: table;line-height: 0;content:"";}
.clearfix:after{clear:both;}
.main-right{position:relative}
body{font-size:14px;color:#666;}
.txtC{text-align:center}
.txtL{text-align:left;}
.txtR{text-align:right;}
.verC{display: table-cell;vertical-align: middle; text-align: center;}
.mt50{margin-top:50px;}
.mt15{margin-top:15px;}
.mt16{margin-top:16px;}
.mt100{margin-top:100px;}
.color1{color:#7f8099;}
.color2{color:#a9a9a9;}
.color3{color:#7b7de5 !important;}
.color4{color:#f46e40;}
.color5{color:#8894bd}

.font50{font-size:50px;}
.font24{font-size:24px;}
.font30{font-size:30px;}

.w850{width:850px;margin:0 auto;text-align:left;}
.w1000{width:1000px;margin:0 auto;text-align:left;}
.w500{width:500px;}
.line30{line-height:30px;}

.color-red{color:#cc3333;}
.color-ff5{color:#ff5050;}
.color-green{color:#58bc92;}
.color-gray{color:#999;}
.color-cdcdcd{color:#cdcdcd;}
.mt30{margin-top:30px}
.mt70{margin-top:70px}
.ml260{margin-left:260px;}
.ml4{margin-left:4px;}
.flex{display:flex;display:-webkit-flex;display:-moz-flex;display:-ms-flex;}


.AllMain{/*margin:16px 0 0 0;*/cursor:pointer;margin-top:2px;}
.C404 img{width:150px}
.bg-white{background:#fff;}
.leftC{min-width:50px;line-height:30px;color:#fff;}
.head-right .select2-selection--single{border-color:#fff !important;}
/************找回密码***********/
.return-box{width:650px;height:260px;margin:100px auto 0;}
.find-password{height:36px;border-bottom:1px solid #dedede;}
.l-label{width:250px;text-align:right;line-height:30px;color:#666;}
.r-con{width:220px;height:28px;border:1px solid #dedede;}
.r-code{width:148px;height:28px;border:1px solid #dedede;}
.rece-code{border:1px solid #dedede;text-align:center;width:58px;line-height:28px;height:28px;background:#eeeeee;}
.return-warn{line-height:24px;font-size:12px;background:url(../images/icon-warn.png) no-repeat left center;padding-left:16px;margin-left:260px;/*display:none;*/}
.basicBtn{min-width:80px;padding:0 5px;color:#fff;line-height:30px;height:30px;border-radius:3px;text-align:center;background:#7b7de5;display:inline-block;cursor:pointer;}
.copyBottom{position:fixed;bottom:0;text-align:center;width:100%;background:#f7f7f7;height:40px;line-height:40px;border-top:1px solid #dedede;color:#7f7f7f;font-size:12px;}

/*********导航********/
.ma-le-ul li:hover>a, .ma-le-ul li.active>a{color:#fff;}
.NavSon{display:block;}
.NavFF{margin-left:48px;color:#c5cce3;display:none;}
.NavSon.active{color:#fff !important;}
.the-bor-co span:first-child{background:url(../images/nav.png) no-repeat;width: 20px;height: 20px;margin-left: 18px;margin-right: 10px;}
.ma-le-li-mai{background-position:0 0;}
.the-bor-co:hover .ma-le-li-mai,.the-bor-co.active .ma-le-li-mai{background-position: -50px 0;}
.ma-le-li-acc{background-position:0 -46px !important;}
.the-bor-co:hover .ma-le-li-acc,.the-bor-co.active .ma-le-li-acc{background-position: -50px -46px !important;}
.ma-le-li-tra{background-position:0 -91px !important;}
.the-bor-co:hover .ma-le-li-tra,.the-bor-co.active .ma-le-li-tra{background-position: -50px -91px !important;}
.ma-le-li-ins{background-position:0 -136px !important;}
.the-bor-co:hover .ma-le-li-ins,.the-bor-co.active .ma-le-li-ins{background-position: -50px -136px !important;}
.ma-le-li-fin{background-position:0 -182px !important;}
.the-bor-co:hover .ma-le-li-fin,.the-bor-co.active .ma-le-li-fin{background-position: -50px -182px !important;}
.ma-le-li-ass{background-position:0 -227px !important;}
.the-bor-co:hover .ma-le-li-ass,.the-bor-co.active .ma-le-li-ass{background-position: -50px -227px !important;}
.ma-le-li-cre{background-position:0 -272px !important;}
.the-bor-co:hover .ma-le-li-cre,.the-bor-co.active .ma-le-li-cre{background-position: -50px -272px !important;}
.ma-le-li-loan{background-position:0 -318px !important;}
.the-bor-co:hover .ma-le-li-loan,.the-bor-co.active .ma-le-li-loan{background-position: -50px -318px !important;}
.ma-le-li-mak{background-position:0 -363px !important;}
.the-bor-co:hover .ma-le-li-mak,.the-bor-co.active .ma-le-li-mak{background-position: -50px -363px !important;}
.ma-le-li-ser{background-position:0 -411px !important;}
.the-bor-co:hover .ma-le-li-ser,.the-bor-co.active .ma-le-li-ser{background-position: -50px -411px !important;}


/*.ma-le-ul li:hover,.ma-le-ul li.the-bor-coO.active{background: #51576d;color: #ffffff;}
.the-bor-coO span:first-child{background:url(../images/navOperator.png) no-repeat;width: 20px;height: 20px;margin-left: 18px;margin-right: 10px;}*/
.the-bor-co .ma-le-li-Oli{background-position:-196px -46px !important;}
.the-bor-co:hover .ma-le-li-Oli,.the-bor-co.active .ma-le-li-Oli{background-position: -235px -46px !important;}
.the-bor-co .ma-le-li-Oadm{background-position:-196px -91px !important;}
.the-bor-co:hover .ma-le-li-Oadm,.the-bor-co.active .ma-le-li-Oadm{background-position: -235px -91px !important;}
.the-bor-co .ma-le-li-Olog{background-position:-197px -136px !important;}
.the-bor-co:hover .ma-le-li-Olog,.the-bor-co.active .ma-le-li-Olog{background-position: -236px -136px !important;}
.the-bor-co .ma-le-li-Osto{background-position:-196px -184px !important;}
.the-bor-co:hover .ma-le-li-Osto,.the-bor-co.active .ma-le-li-Osto{background-position: -235px -184px !important;}

.the-bor-co .ma-le-li-Oacc{background-position:-407px -46px !important;}
.the-bor-co:hover .ma-le-li-Oacc,.the-bor-co.active .ma-le-li-Oacc{background-position: -450px -46px !important;}
.the-bor-co .ma-le-li-Opay{background-position:-407px -91px !important;}
.the-bor-co:hover .ma-le-li-Opay,.the-bor-co.active .ma-le-li-Opay{background-position: -450px -91px !important;}
.the-bor-co .ma-le-li-Oloan{background-position:-407px -135px !important;}
.the-bor-co:hover .ma-le-li-Oloan,.the-bor-co.active .ma-le-li-Oloan{background-position: -450px -135px !important;}
.the-bor-co .ma-le-li-Orev{background-position:-407px -183px !important;}
.the-bor-co:hover .ma-le-li-Orev,.the-bor-co.active .ma-le-li-Orev{background-position: -450px -183px !important;}
/*************主页************/
.userName{color:#dbe3fc;font-size:14px;line-height:20px;height:20px;margin:20px 10px 0 0;}
.main-topBg{height:140px;width:100%;background:url(../images/icon-mainBg.png) no-repeat;background-size:cover;color:#fff;}
.main-topBg .p1{font-size:16px;margin:25px 0 0 40px;}
.main-topBg .p2{margin:20px 0 0 40px;}
.main-topBg .p3{margin:5px 0 0 40px;}
.function-list{width:60px;text-align:center;margin:25px 25px 0 25px;line-height:26px;}

.borderTit{font-size:16px;color:#7b7de5;border-bottom:1px solid #c5cce3;height:31px;width:100%;}
.comLeft{width:300px;}
.funTab{height:40px;background:#f2f2f2;}
.funTabli{width:86px;height:38px;line-height:40px;text-align:center;color:#b4bcd8;}
.funTabli.active{border-bottom:2px solid #7b7de5;color:#7b7de5;}
.funTabli.ml45{margin-left:45px;}
.funTabli.mr45{margin-right:45px;}
.leftB{min-width:80px;line-height:30px;text-align:right;}
.leftBB{min-width:100px;line-height:30px;text-align:right;}
.leftBC{min-width:150px;line-height:30px;text-align:right;}
.rightC{line-height:30px;min-width:152px;}
.funTabSon{display:none;}

.input1{width:212px;height:28px;border:1px solid #dadde3;}
.input2{width:100px;height:28px;border:1px solid #dadde3;}
.comRight{margin-left:15px;width:calc(100% - 315px);}
.comTit{font-size:16px;color:#7b7de5;border-bottom:1px solid #c5cce3;height:31px;}
.comTit>div.fr{font-size:14px;}
.comEye{display:inline-block;width:16px;height:16px;background:url(../images/form.png) no-repeat;background-position:0 0;vertical-align:text-top;margin-top:2px;margin-left:5px;cursor:pointer;}
.comEye.active{background-position:-60px 0;}
.comFresh{display:inline-block;width:16px;height:16px;background:url(../images/form.png) no-repeat;background-position:-33px 0;vertical-align:text-top;margin-top:2px;margin-left:5px;cursor:pointer;}
.comVie{display:inline-block;width:16px;height:16px;background:url(../images/form.png) no-repeat;background-position:-0 -26px;vertical-align:text-top;margin-left:5px;cursor:pointer;margin-top:-7px;}
.line22{line-height:22px;}
.line60{line-height:60px;}
.wh88{display:inline-block;width:100px;overflow:hidden;}
.wh90{display:inline-block;width:90px;}
.FormLi{width:50%;}
.lbox{width:16px ;height:10px;display:inline-block;}
.bgC-pur{background:#8f90e5;}
.bgC-gre{background:#58bc92;}
.bgC-yell{background:#dc8d68;}
.bgC-pink{background:#cd72cd;}

.cardList{ /*min-width:180px;*/width:204px /*23%*/;height:118px;border:1px solid #c4c4c4;margin-top:20px;background:#f8f8f8;position:relative;}
.cardList.active{border:3px solid #7b7de5 !important;}
.addCard{width:204px;height:118px;border:1px solid #c4c4c4;margin-top:20px;background:url(../images/icon-BigAdd.png) no-repeat center center;cursor:pointer;}
.cardNone{width:204px;height:0;margin-top:10px;}
.set{position:absolute;bottom:-11px;left:102px;}
.flexAll{justify-content: space-between;-ms-justify-content: space-between;-moz-justify-content: space-between;-webkit-justify-content: space-between;flex-wrap: wrap;-ms-flex-wrap: wrap;-moz-flex-wrap: wrap;-webkit-flex-wrap: wrap;}
.comBox{width:40px;height:20px;line-height:20px;text-align:center;border-radius:3px;background:#7b7de5;color:#fff;font-size:12px;}
.bkLogo{vertical-align:text-top;width:16px;margin-top:2px;}
.financialList{padding-left:10px;line-height:36px;}
.financialList span:first-child{display:inline-block;width:130px;overflow:hidden;}
.financialList span:nth-child(2){display:inline-block;width:80px;overflow:hidden;}
.financialList span:nth-child(3){display:inline-block;width:60px;overflow:hidden;color:#cc3333;}
.dealDetial{height:62px;border-bottom:1px solid #dedede;}
.comRight .l1{width:30%;margin-left:10%;margin-top:16px;font-size:12px;}
.comRight .l2{width:20%;margin-top:16px;line-height:30px;}

/*******************转账汇款*******************/
.TransferMain{min-height:300px;border-top:3px solid #c5cce3;background:#f8f8f8;padding-left:20px;}
.tansTit{color:#8894bd;line-height:32px;}
.btnFile{width:78px;font-size:1000px;overflow:hidden;height:30px;border:none !important;border:0;margin:-2px;opacity:0;position:relative;z-index:99;}
.btnFF{border:1px solid #dadde3;display:inline-block;height:28px;overflow:hidden;position:relative;width:78px;}
.btnTxt{height:28px;line-height:26px;text-align:center;width:78px;color:#7b7de5;background:#eee;position:absolute;}
a.download{color:#7b7de5;display:inline-block;line-height:20px;border-bottom:1px solid #7b7de5;}
.radio{min-width:70px;padding-left:20px;line-height:30px;height:30px;background:url(../images/icon-radio.png) no-repeat left 8px;cursor:pointer;}
.radio.active{background:url(../images/icon-radioed.png) no-repeat left 8px;}
/*******************我的账户*******************/
.FunKey{width:22%;height:136px;background:#f2f2f2;text-align:center;line-height:60px;color:#7b7de5;cursor:pointer;}
.FunKeyIcon1{background:url(../images/pas.png) no-repeat;width:36px;height:38px;margin:30px auto 0;}
.FunKeyIcon2{background:url(../images/pas.png) no-repeat;width:36px;height:38px;margin:30px auto 0;background-position:-128px 0;}
.FunKeyIcon3{background:url(../images/pas.png) no-repeat;width:36px;height:38px;margin:30px auto 0;background-position:-259px 0;}
.FunKeyIcon4{background:url(../images/pas.png) no-repeat;width:36px;height:38px;margin:30px auto 0;background-position:-390px 0;}
.tanTable,.tanTable th,.tanTable td{border:1px solid #dedede;}
.tanTable th{background:#f2f2f2;}
.tanTable th,.tanTable td{height:48px;padding:0 5px;}
.wapPosi{line-height:30px;color:#7b7de5;background:url(../images/icon-main.png) no-repeat left center;padding-left:25px;}

table,th,td{text-align:center;word-wrap:break-word;}
/*******************投资理财*******************/
.tip{background:#eaeeff url(../images/icon-warn.png) no-repeat 5px center;padding-left:25px;color:#666666;line-height:40px;}
.options{min-width:110px;padding-left:20px;background:url(../images/icon-radio.png) no-repeat left center;margin-left:20px;}
.options.active{background:url(../images/icon-radioed.png) no-repeat left center;}
.leftFina{width:500px;height:360px;background:#8894bd;color:#fff;}
.rightFina{width:calc(100% - 500px);background:#f8f8f8;height:360px;}
.leftFina .CFina{margin:60px;}
.rightFina .CFina{margin:20px;}
.wh50{width:50%;}
.FinaTxt{color:#666;}
.FinTit{height:34px;border-bottom:1px solid #c5cce3;line-height:34px;}
.Next2,.Next3{display:none;}
/*******************网上保险*******************/
.minW20{min-width:20px;}

/*******************信用卡*******************/
.cardProcess{width:340px;overflow:hidden;/*color:#7b7de5;*/;line-height:40px;margin:40px auto 0;}
.processLi{width:60px;text-align:center;}
.proImg{width:40px;height:40px;background:#cccccc;border-radius:100%;margin:0 auto;}
.processLi.active .proImg{background:url(../images/icon-proc.png) no-repeat;}
.blueLine{width:80px;border-top:1px solid #7b7de5;height:1px;margin-top:20px;}
.grayLine{width:80px;border-top:1px solid #ccc;height:1px;margin-top:20px;}
.cuCard>div{display:none;}


/*******************生活服务*******************/
.recharge>div{display:none;}
.upBG{height:310px;width:100%;background:url(../images/upBg.png) no-repeat;background-size:100%;}
/*******************网上预约*******************/
.flBox{width:270px;}
.spaceAround{ justify-content:space-around;-ms-justify-content:space-around;-webkit-justify-content:space-around;-moz-justify-content:space-around;-o-justify-content:space-around;}
.inetBox{width:150px;height:150px;text-align:center;line-height:50px;color:#7b7de5;background:#dee4ff;border-radius:100%;font-size:18px;}
.mt36{margin-top:36px;}

/*******************企业网银-操作员*******************/
.checkBox{width:15px;height:15px;background:url(../images/icon-check.png) no-repeat;display:inline-block;}
.checkBox.active{background:url(../images/icon-checked.png) no-repeat;}
.input3{height:28px;text-align:center;color:#666;width:120px;border:none;}
.input3.active{border:1px solid #dadde3;}
.DisNone{display:none ;}
.pRelative{position:relative;}
.icon-hi{margin-top:-100px;}
/*******************企业网银-操作员-付款*******************/
.payNav{width:130px;display:inline-block;text-align:center;height:28px;color:#8894bd;border-bottom:3px solid #fff;}
.payNav.active{border-bottom:3px solid #7b7de5;color:#7b7de5;}

/*******************企业网银-审核中心*******************/
.CompanyLeft{width:40%;margin-top:30px;}
.ComLine{display:inline-block;width:40px;height:3px;background:#7b7de5;}
.CompanyRight{width:60%;}
.Comli{line-height:44px;}
.Com-icon{width:20px;height:20px;display:inline-block;background:url(../images/nav.png) no-repeat;margin-top:2px;vertical-align:text-top;}
.in-1{background-position:-597px -8px;}
.in-2{background-position:-597px -55px;}
.in-3{background-position:-597px -100px;}
.in-4{background-position:-597px -147px;}
.ComAcc,.Compass{width:120px;height:28px;border:1px solid  #dadde3; padding-left:5px;}
.borderNone{border:none;border:0;}


/*******************网银支付-账户设置*******************/
.positionR{position:relative;}
.positionA{position:absolute;}
.Pr{position:absolute;right:0;line-height:30px;}
.Pr span{text-decoration:underline;}
.right-p-box{border:1px solid #dadde3;min-width:430px;padding:10px 20px;right:-490px;top:-100px;background:#fff;z-index:9;}
.rClose{width:30px;text-align:right;cursor:pointer;font-size:24px;line-height:30px;}
.larrow{position:absolute;left:-13px;top:105px;}

/*******************登录*******************/
.DNBg{background:url(../images/DownloadBg.png) no-repeat;background-szie:100%;}
.w1200{width:1200px;margin:0 auto;}
.DNBox{position:absolute;width:380px;height:450px;background:#fff;border-radius:5px;right:5px;top:50%;margin-top:-225px;}
.DnTop{font-size:18px;padding-left:10px;border-left:4px solid #7b7de5;line-height:20px;height:20px;color:#333}
.margin40{margin:40px;}
.input4{border:1px solid #dedede;width:288px;height:38px;padding-left:10px;font-size:16px;}
.input5{border:1px solid #dedede;width:198px;height:38px;padding-left:10px;font-size:16px;}
.H80{height:80px;}
.return-tip {line-height: 40px;background: url(../images/icon-warn.png) no-repeat left 14px;padding-left: 18px;margin-left: 260px;}
.DNcode {border: 1px solid #dedede; text-align: center; width:78px;line-height: 38px; height: 38px;background: #eeeeee;}
.DNBtn{width:100%;line-height:38px;height:38px;text-align:center;background:#7b7de5;color:#fff;border-radius:5px;}




.GuidPosition{margin-left:50px;height:50px;margin-top:30px;}
.guidList{width:160px;height:50px;line-height:50px;background:url(../images/arrowbg-1.png) no-repeat;text-align:center;font-size:16px;color:#fff;}
.guidList.active{background:url(../images/arrowng-2.png) no-repeat;}
.inputS{width:calc(100% - 120px);height:28px;border:1px solid #dadde3;}
.txtaS{width:calc(100% - 120px);line-height:28px;height:98px;border:1px solid #dadde3;}
.leftStore{width:calc(100% - 480px)}
.sTop{line-height:48px;height:48px;font-size:16px;color:#7b7de5;border:1px solid #d1d2ff;background:#f8f8ff;padding-left:15px;;}
.sMain{border:1px solid #e4e5ff;border-top:none;padding-right:40px;padding-bottom:30px;min-height:480px;}

.rightStore{width:464px;}
.proImgs{width:70px;height:70px;background:url(../images/pro.png) no-repeat;background-size:cover;overflow:hidden;}
.proName{width:165px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;line-height:70px;color:#333;text-align:left;padding-left:5px;}

.buyCar{min-width:180px;padding:0 5px;line-height:38px;height:38px;color:#fff;font-size:16px;background:#7b7de5;border-radius:19px;text-align:center;}
.proList{width:248px;height:408px;border:1px solid #d1d2ff;}
.proPic{width:100%;height:248px;border-bottom:1px solid #d1d2ff;overflow:hidden;background:#f8f8ff /*url(images/pro.png) no-repeat*/;background-size:cover;}
.proPrice{line-height:64px;font-size:28px;}
.proN{height:40px;overflow:hidden;font-size:16px;color:#333;}
.buyBtn{width:100%;line-height:30px;height:30px;text-align:center;color:#fff;background:#7b7de5;border-radius:3px;}
.proListNone{width:248px;height:0;}

.Mdetial{width:158px;line-height:54px;height:54px;text-align:center;color:#7b7de5;background:#f8f8ff;font-size:16px;border-top:3px solid #7b7de5;}

label.error{line-height:24px;font-size:12px;background:url(../images/icon-warn.png) no-repeat left center;padding-left:16px;margin-left:100px;color:#f46e40;}

/***************************考试、练习项目详情css*********************************************/
.fixed-wrap{position: fixed;top:0;left:50%;margin-left:-125px;width: 250px;height: 130px;background: url(../images/icon-radius.png) no-repeat;text-align: center;color: #fff}
.fixed-state{font-size: 18px;margin-top: 13px;margin-bottom: 10px;}
.fixed-time{font-size: 42px}
.fixed-detail{position: fixed;top:19.16667%;left:0;width: 46px;height: 120px;line-height:18px;margin-top:-60px;padding-left: 10px;padding-top:22px;font-size:16px;color:#fff;background: url(../images/icon-detail.png) no-repeat}
.fixed-data{position: fixed;left: 0;top:31.66667%;width: 340px;padding-right:10px;height: 520px;background: url(../images/icon-bg.png) no-repeat}
.fixed-head{width:340px;height:50px;line-height:50px;font-size:16px;border-top-right-radius:8px;text-align:center;color:#fefeff;background: #7b7de5}
.fixed-title{font-size: 14px;padding-bottom:5px;border-bottom:1px solid #d4d5ff;color:#686ad1;}
.fixed-box{padding: 20px;max-height: 396px;overflow: hidden;}
.fixed-con{padding: 10px;border-radius: 5px;background: #f1f1f8;margin-top: 10px;margin-bottom: 20px;max-height: 160px;overflow: auto;}
.fixed-btn{display:block;width: 100%;height: 34px;line-height: 34px;text-align:center;border-radius:5px;color:#fff;background: #7b7de5}
.logo-text{font-size: 18px;color: #fff;padding-top: 4px;box-sizing: border-box;}
.title01{font-size: 18px;color: #56576a;margin-top: 127px;margin-bottom:18px;text-align: center}
.title02{font-size: 40px;margin-bottom:85px;font-weight: bold;color: #333;text-align: center}
.guide-box{width:840px;margin: 0 auto}
.guide-ul{margin-left:-8.3333%;}
.guide-li{position:relative;float:left;display: inline-block;width: 200px;height: 200px;margin-left:8.33333%;border:1px solid #b1b2fd;border-radius: 20px;font-size:20px;text-align: center;color: #4d4fba;cursor: pointer;transition:all .2s linear}
.guide-li:hover{color:#fff;border:1px solid #8385ef;background: #8587f2;box-shadow: 0 3px 10px #c2c2d9}
.guide-li i{display: inline-block;width:100%;height:80px;margin:30px 0 20px 0;text-align: center}
.guide-ico01{background: url(../images/ico01.png) 58px 0 no-repeat}
.guide-ico02{background: url(../images/ico02.png) 58px 0 no-repeat}
.guide-ico03{background: url(../images/ico03.png) 62px 0 no-repeat}
.guide-li:hover .guide-ico01{background: url(../images/ico01-hover.png) 58px 0 no-repeat}
.guide-li:hover .guide-ico02{background: url(../images/ico02-hover.png) 58px 0 no-repeat}
.guide-li:hover .guide-ico03{background: url(../images/ico03-hover.png) 62px 0 no-repeat}
.guide-hide{position: absolute;top:200px;left: 0;width: 100%;padding-top: 20px}
.guide-hide a{display: inline-block;width: 100%;height: 50px;line-height: 50px;margin-bottom:10px;border:1px solid #b1b2fd;border-radius: 50px;font-size:16px;text-align: center;color: #4d4fba;background: #fff}
.guide-hide a:hover{border:1px solid #8c8efb;background: #8c8efb;color: #fff}
.hand{cursor:pointer}