<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gta.train.platform.saas.dao.system.SystemDao">
	<resultMap id="SystemResultMap" type="com.gta.train.platform.saas.entity.system.System">
	            <id column="id" jdbcType="VARCHAR" property="id"/>
        		    <result column="code" jdbcType="VARCHAR" property="code"/>
		    <result column="name" jdbcType="VARCHAR" property="name"/>
		    <result column="realm_name" jdbcType="VARCHAR" property="realmName"/>
		    <result column="login_url" jdbcType="VARCHAR" property="loginUrl"/>
		    <result column="permission_type" jdbcType="INTEGER" property="permissionType"/>
		    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
		    <result column="is_del" jdbcType="INTEGER" property="isDel"/>
		    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId"/>
		    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId"/>
			</resultMap>

	<sql id="System_Where_Clause">
	            <if test="id != null and id != ''">
		    and t.id=#{id,jdbcType=VARCHAR}
		</if>
			            <if test="code != null and code != ''">
		    and t.code=#{code,jdbcType=VARCHAR}
		</if>
		        <if test="name != null and name != ''">
		    and t.name=#{name,jdbcType=VARCHAR}
		</if>
		        <if test="realmName != null and realmName != ''">
		    and t.realm_name=#{realmName,jdbcType=VARCHAR}
		</if>
		        <if test="loginUrl != null and loginUrl != ''">
		    and t.login_url=#{loginUrl,jdbcType=VARCHAR}
		</if>
		        <if test="permissionType != null and permissionType != ''">
		    and t.permission_type=#{permissionType,jdbcType=INTEGER}
		</if>
		        <if test="createTime != null and createTime != ''">
		    and t.create_time=#{createTime,jdbcType=TIMESTAMP}
		</if>
		        <if test="updateTime != null and updateTime != ''">
		    and t.update_time=#{updateTime,jdbcType=TIMESTAMP}
		</if>
		        <if test="isDel != null and isDel != ''">
		    and t.is_del=#{isDel,jdbcType=INTEGER}
		</if>
		        <if test="createUserId != null and createUserId != ''">
		    and t.create_user_id=#{createUserId,jdbcType=VARCHAR}
		</if>
		        <if test="updateUserId != null and updateUserId != ''">
		    and t.update_user_id=#{updateUserId,jdbcType=VARCHAR}
		</if>
			 </sql>

    <sql id="System_Column_List">
         t.id,
                   t.code,
                    t.name,
                    t.realm_name,
                    t.login_url,
                    t.permission_type,
                    t.create_time,
                    t.update_time,
                    t.is_del,
                    t.create_user_id,
                    t.update_user_id
             </sql>
 
	 
</mapper> 